**__pycache__**
**build**
**egg-info**
**dist**
data/
*.pyc
venv/
*.idea/
*.so
*.yaml
*.sh 
*.pth
*.pkl
*.zip
*.bin
utils/carla_mdls/mdlidar_sample/protobuf-source
utils/carla_mdls/mdlidar_sample/protobuf
misc/kitti_object_vis/
notes.txt
output
.ipynb_checkpoints/